<ion-header>

    <ion-navbar color="toolbar">
        <button ion-button menuToggle>
            <ion-icon name="menu" style="color : white;"></ion-icon>
        </button>
        <p style="color:white; float: right;" *ngIf="username">Hola , {{username}}</p>
    </ion-navbar>

</ion-header>

<ion-content padding text-center style="margin-top: 44px" *ngIf="estaCargado()">
    <ion-card>
        <ion-card-header>
            <h1>{{curso.titulo}}</h1>
        </ion-card-header>
        <ion-scroll style="height:80vh;" scrollY="true">
            <ion-list scroll="true">
                <ion-card>
                    <!-- <button ion-button (click)="showPromptTema()">Agregar tema</button> -->

                    <div class="curso-vacio" *ngIf="cursoVacio()">
                        <h1>Actualmente este curso no cuenta con contenido</h1>
                        <h1>En el futuro tendrá justo lo que usted necesita </h1>
                    </div>
                    <ion-list-header *ngFor="let tema of curso.temas; let i = index" no-lines no-padding>


                        <ion-card class="tema">
                            <button class="tema" ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': tema.open, 'section': !tema.open}">
                                <ion-icon item-left name="arrow-forward" *ngIf="!tema.open"></ion-icon>
                                <ion-icon item-left name="arrow-down" *ngIf="tema.open"></ion-icon>
                                {{ tema.nombre }}
                            </button>

                            <!--    <div *ngIf="tema.open">
                                <button ion-button (click)="showPromptSubtema(i)">Agregar subtema</button>
                            </div> -->
                            <ion-list *ngIf="tema.subtemas && tema.open" no-lines>


                                <ion-card class="subtema">
                                    <ion-list-header class="subtema" *ngFor="let subtema of tema.subtemas; let j = index" no-padding>

                                        <button ion-item (click)="toggleSubtema(i, j)" *ngIf="subtema.recursos" class="child" detail-none>
                                            <ion-icon item-left name="add" *ngIf="!subtema.open"></ion-icon>
                                            <ion-icon item-left name="close" *ngIf="subtema.open"></ion-icon>
                                            {{ subtema.nombre }}
                                        </button>

                                        <div *ngIf="subtema.open">
                                            <button ion-button color="secondary" (click)="onRecurso(i,j)">Agregar recurso a subtema</button>
                                        </div>

                                        <ion-list *ngIf="subtema.recursos && subtema.open">

                                            <ion-list-header class="subtema" *ngFor="let recurso of subtema.recursos; let k = index" style="padding-top:10px">
                                                <a (click)="abrirRecurso(i,j,k)" style="cursor: pointer">
                                                    <img src="../assets/img/{{recurso.tipo}}.png" style="float:left;vertical-align:middle;max-height: 30px; max-width: 30px;padding-right:5px">
                                                    <h3 style="float:left;text-align: left;">{{ recurso.nombre }}</h3>
                                                    <img src="../assets/img/star.png" style="text-align: right;float:right;vertical-align:middle;max-height: 25px; max-width: 25px">
                                                    <h2 style="float:right;">{{recurso.calificacion}}</h2>
                                                </a>
                                            </ion-list-header>
                                        </ion-list>


                                    </ion-list-header>
                                </ion-card>
                            </ion-list>

                            <ion-list *ngIf="tema.recursos && tema.open" no-lines>

                                <ion-list-header class="tema" *ngFor="let recurso of tema.recursos; let j = index" style="padding-top:10px;margin-top:0px">
                                    <a (click)="abrirRecurso(i,j)" style="cursor: pointer">
                                        <img src="../assets/img/{{recurso.tipo}}.png" style="float:left;vertical-align:middle;max-height: 30px; max-width: 30px;padding-right:5px">
                                        <h3 style="float:left;text-align: left;">{{ recurso.nombre }}</h3>
                                        <img src="../assets/img/star.png" style="text-align: right;float:right;vertical-align:middle;max-height: 25px; max-width: 25px">
                                        <h2 style="float:right;">{{recurso.calificacion}}</h2>
                                    </a>
                                </ion-list-header>
                            </ion-list>

                            <div *ngIf="tema.open">
                                <ion-list-header class="tema" style="padding-top:10px">
                                    <button ion-button color="secondary" (click)="onRecurso(i)">Agregar recurso a tema</button>
                                </ion-list-header>
                            </div>

                        </ion-card>
                    </ion-list-header>
                </ion-card>
            </ion-list>

        </ion-scroll>
    </ion-card>
</ion-content>